@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* body {
		transition: background-color 0.5s ease;
	} */

	.prose code {
		@apply text-base;
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100 !important;
	}
}

:root {
	--line-highlight-color: #ffffff22;
	--line-add-color: #00ff0022;
	--line-error-color: #ff000022;
	--line-warning-color: #ffcc0022;
	--line-diff-remove-symbol-color: #cb7676;
	--line-diff-add-symbol-color: #3dd68c;
}

.glass {
	background: rgba(55, 55, 55, 0.52);
	backdrop-filter: blur(7px) saturate(150%);
	-webkit-backdrop-filter: blur(7px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

pre.astro-code {
	line-height: 1.2rem;
	padding-left: 15px;
}

.prose code {
	line-height: 1.2rem;
}

pre.has-focused .line:not(.focused) {
	filter:blur(.095rem);
	opacity:.4;
	transition:filter .35s,opacity .35s
}

pre.has-focused .line:not(.focused) {
	opacity:.7;
	transition:filter .35s,opacity .35s
}

pre:hover.has-focused .line:not(.focused) {
	filter:blur(0);
	opacity:1
}

pre:hover .highlighted,
pre:hover .highlighted.error,
pre:hover .highlighted.warning,
pre:hover .diff.add,
pre:hover .diff.remove,
pre:hover .diff.add::before,
pre:hover .diff.remove::before {
	background-color: unset;
}

code .highlighted {
	background-color:var(--line-highlight-color);
	transition:background-color .5s;
	margin:0 -24px;
	padding:0 24px;
	width:calc(100% + 48px);
	display:inline-block
}

code .highlighted.error {
	background-color:var(--line-error-color);
}

code .highlighted.warning {
	background-color:var(--line-warning-color);
}

code .diff.remove {
	background-color:var(--line-error-color);
	transition:background-color .5s;
}

code .diff.add {
	background-color:var(--line-add-color);
	transition:background-color .5s;
}

code .diff.add::before {
	color: var(--line-diff-add-symbol-color);
	content: "+";
}

code .diff.remove::before {
	color: var(--line-diff-remove-symbol-color);
	content: "-";
}

code {
	counter-reset: step;
	counter-increment: step 0;
}

code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1.7rem;
	margin-right: 1rem;
	display: inline-block;
	text-align: right;
	color: #738a9466
}